# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Certificates
*.pem
*.key
*.crt
*.csr

# Kubernetes
kubeconfig

# Misc
.DS_Store 

# Test
test/e2e/certs/

regcred.yaml